<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for StyleCop.Analyzers" Description="Code analysis rules for StyleCop.Analyzers.csproj." ToolsVersion="15.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <!-- Rule Documemtation can be found here: https://github.com/DotNetAnalyzers/StyleCopAnalyzers/tree/master/documentation -->

    <!-- Must fix -->
    <Rule Id="SA0002" Action="Error" /> <!-- InvalidSettingsFile - The stylecop.json settings file could not be loaded due to a deserialization error. -->

    <!-- Should fix -->

    <!-- Devs choice -->
    <Rule Id="SA1005" Action="None" /> <!-- Single line comment should begin with a space. -->
    <Rule Id="SA1101" Action="None" /> <!-- PrefixLocalCallsWithThis - A call to an instance member of the local class or a base class is not prefixed with 'this.', within a C# code file. -->
    <Rule Id="SA1116" Action="None" /> <!-- SplitParametersMustStartOnLineAfterDeclaration - The parameters to a C# method or indexer call or declaration span across multiple lines, but the first parameter does not start on the line after the opening bracket. -->
    <Rule Id="SA1202" Action="None" /> <!-- ElementsMustBeOrderedByAccess - 'public' members should come before 'private' members -->
    <Rule Id="SA1203" Action="None" /> <!-- ConstantsMustAppearBeforeFields - A constant field is placed beneath a non-constant field. -->
    <Rule Id="SA1204" Action="None" /> <!-- StaticElementsMustAppearBeforeInstanceElements - A static element is positioned beneath an instance element of the same type. -->
    <Rule Id="SA1214" Action="None" /> <!-- ReadonlyElementsMustAppearBeforeNonReadonlyElements - A readonly field is positioned beneath a non-readonly field. -->
    <Rule Id="SA1402" Action="None" /> <!-- FileMayOnlyContainASingleType - A C# code file contains more than one unique type. -->
    <Rule Id="SA1501" Action="None" /> <!-- StatementMustNotBeOnSingleLine - A C# statement containing opening and closing braces is written completely on a single line. -->
    <Rule Id="SA1502" Action="None" /> <!-- ElementMustNotBeOnSingleLine - A C# element containing opening and closing braces is written completely on a single line. -->
    <Rule Id="SA1600" Action="None" /> <!-- ElementsMustBeDocumented - A C# code element is missing a documentation header. -->
    <Rule Id="SA1601" Action="None" /> <!-- PartialElementsMustBeDocumented - A C# partial element is missing a documentation header. -->
    <Rule Id="SA1602" Action="None" /> <!-- EnumerationItemsMustBeDocumented - An item within a C# enumeration is missing an Xml documentation header. -->
    <Rule Id="SA1611" Action="None" /> <!-- ElementParametersMustBeDocumented - A C# method, constructor, delegate or indexer element is missing documentation for one or more of its parameters. -->
    <Rule Id="SA1615" Action="None" /> <!-- ElementReturnValueMustBeDocumented - A C# element is missing documentation for its return value. -->
    <Rule Id="SA1642" Action="None" /> <!-- ConstructorSummaryDocumentationMustBeginWithStandardText - The XML documentation header for a C# constructor does not contain the appropriate summary text. -->

  </Rules>
</RuleSet>