name: Pull Request Build Only

on:
  pull_request:
    branches: [ "master" ]

env: 
  BUILD_CONFIGURATION: 'Release'    # set this to the appropriate build configuration
  WORKING_DIRECTORY: OntologyMapper
  DOTNET_VERSION: '6.x' 

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore "${{ env.WORKING_DIRECTORY }}"
    - name: Build
      run: dotnet build "${{ env.WORKING_DIRECTORY }}" --no-restore
    - name: Test
      run: dotnet test "${{ env.WORKING_DIRECTORY }}" --no-build --verbosity normal
